<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">Car List</h1>
<a [routerLink]="['/dashboard/addcar']" routerLinkActive="router-link-active" >Add Car</a>
<table  class="table table-striped table-inverse table-responsive">
    <thead class="thead-inverse">
        <tr>
            <th>Car Id</th>
            <th>Car Brand</th>
            <th>Type</th> 
            <th>Stock</th>
            <th>Model</th>
            <th>SeatQuantity</th>
            <th>FuelType</th>
            <th>Mileage</th>
            <th>DailyPrice</th>
            <th>ImgSrc</th>
            <th>Option</th>
            

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of cars">
            <td scope="row">{{c.CarId}}</td>
            <td>{{c.Brand}}</td>
            <td>{{c.Type}}</td>
            <td>{{c.Stock}}</td>
            <td>{{c.Model}}</td>
            <td>{{c.SeatQuantity}}</td>
            <td>{{c.FuelType}}</td>
            <td>{{c.Mileage}}</td>
            <td>{{c.DailyPrice}}</td>
            <td>{{c.ImgSrc}}</td>
            <td><button class="btn btn-success" [routerLink]="['/dashboard/updatecar',{'cid':c.CarId}]" routerLinkActive="router-link-active"  >Update</button></td>
            
            
        </tr>
        
    </tbody>
</table>
</body>
</html>
