<table class="table table-hover table-inverse table-responsive">
    <thead class="thead-inverse">
        <tr>
            <th>Id</th>
            <th>UserId</th>
            <th>Password ChangedOn</th>
            <th>Old Password</th>
            <th>New Password</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of passwordlog">
                
                <td scope="row">{{p.Id}}</td>
                <td>{{p.UserId}}</td>
                <td>{{p.ChangedOn}}</td>
                <td>{{p.OldPassword}}</td>
                <td>{{p.NewPassword}}</td>
            </tr>
            <tr>
                <td scope="row"></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
</table>
