<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table  class="table table-striped">
        <thead class="thead-inverse">
            <tr>
                <th>User Id</th>
                <th>Name</th>
                <th>Email Id</th>
                <th>MobileNo</th>
                
                <th>Role Id</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of users">
                <td scope="row">{{u.UserId}}</td>
                <td>{{u.Name}}</td>
                <td>{{u.EmailId}}</td>
                <td>{{u.MobileNo}}</td>
                
                <td>{{u.RoleId}}</td>
            </tr>
            
        </tbody>
    </table>
</body>
</html>
